:root {
  /* Primary */
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Blue-footer: hsl(228, 45%, 44%);

  /* Secundary */
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue1: hsl(211, 68%, 94%);
  --Light-grayish-blue2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--Very-light-grayish-blue);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

main {
  background-color: var(--White);
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 760px;
  padding: 0 16px;
  box-shadow: 2px 9px 12px 4px #e8e1e1;
}

/* Header */
.notification {
  /* border: 2px solid red; */
  margin-top: 20px;
  padding: 32px;
}

.notification-wrapper {
  /* border: 1px solid red; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 690px;
}

.notification-wrapper .notification-text {
  /* border: 1px solid red; */
  color: var(--Very-dark-blue);
  font-size: 24px;
  font-weight: 800;
}

.notification-wrapper .notification-alert {
  /* border: 1px solid red; */
  background-color: var(--Blue);
  border-radius: 4px;
  color: var(--White);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
  padding: 1px 6px;
}

.notification-wrapper .notification-button {
  color: var(--Grayish-blue);
  cursor: pointer;
  font-weight: 500;
}

/* Notificaciones section */
.message {
  /* border: 1px solid red; */
  margin: 0 auto;
  height: auto;
  max-width: 690px;
}

.message .notification-text {
  align-items: center;
  border-radius: 8px;
  color: var(--Grayish-blue);
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 16px 20px;
}

.message .active::after {
  content: "";
  background-color: red;
  border-radius: 50%;
  display: block;
  height: 10px;
  position: relative;
  top: -10px;
  left: -10px;
  width: 10px;
}

.message .active {
  background-color: var(--Very-light-grayish-blue);
  cursor: pointer;
}

.notification-text .text-message {
  border: 1px solid var(--Light-grayish-blue1);
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  padding: 16px 20px;
}

.notification-text .text-message:hover {
  background-color: var(--Light-grayish-blue2);
}

.img-message {
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.img-message picture {
  cursor: pointer;
}

.message .text-black {
  color: var(--Very-dark-blue);
  cursor: pointer;
  font-weight: 800;
}

.message .text-black:hover,
.message .text-grey:hover,
.message .text-blue:hover,
.notification-wrapper .notification-button:hover {
  color: var(--Blue);
}

.message .text-blue {
  color: var(--Blue);
  cursor: pointer;
  font-weight: 800;
}

.message .text-grey {
  cursor: pointer;
  font-weight: 800;
}

.message img {
  max-width: 50px;
}

/* footer */
.attribution {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.attribution a {
  color: var(--Blue-footer);
  font-weight: 800;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--Very-dark-blue);
}

@media only screen and (max-width: 415px) {
  body {
    background-color: var(--White);
    font-size: 14px;
  }

  main {
    border: none;
    margin: 0;
    width: 100%;
    padding: 0 16px;
    box-shadow: none;
  }

  .notification {
    padding: 20px 16px 25px 16px;
  }

  .notification-wrapper .notification-text {
    font-size: 16px;
  }

  .notification-wrapper .notification-alert {
    margin-left: 2px;
    padding: 1px 4px;
  }

  /* Notificaciones section */
  .message .text-notification {
    gap: 10px;
    /* height: 100px; */
    padding: 16px;
    pointer-events: painted;
  }

  .message .active::after {
    top: 0px;
    left: 0px;
  }

  .message img {
    max-width: 40px;
  }

  .img-message {
    gap: 15px;
  }
}
